

<h1>{{childDetail.first}}&nbsp{{childDetail.last}}</h1>

<ul ng-controller="ChildDetailCtrl" class="specs">
  <li>
		<img ng-src="{{childDetail.image}}"><br>
		Child image: {{childDetail.image}}<br>
		ChildID : {{childDetail.childId | number}}<br>
		Child First Name : {{childDetail.first}}<br>
		Child Last Name: {{childDetail.last}}<br>
		Child Last DOB: {{childDetail.dob | date : medium}}<br><br>
  </li>
</ul>
<ul ng-controller="ChildDetailStatusCtrl" class=specs>
<h3>Status:</h3>
	<li ng-repeat="s in childStatus" >
	   {{s.date}}<br>
	   {{s.status}}<br>
	</li>
</ul>
