

<h1>{{childDetail.first}}</h1>

<ul ng-controller="ChildDetailCtrl" class="specs">
  <li>
		<img ng-src="{{childDetail.image}}">
		Child image: {{childDetail.images}}<br>
		ChildID : {{childDetail.childId | number}}<br>
		Child First Name : {{childDetail.first}}<br>
		Child Last Name: {{childDetail.last}}<br>
		Child Last DOB: {{childDetail.dob}}<br>
  </li>
</ul>
<ul ng-controller="ChildDetailStatusCtrl" class=specs>
	<li ng-repeat="s in childStatus" >
	   Status: {{s.status}}<br>
	</li>
</ul>

<!--   <li> -->
<!--     <span>Storage and Memory</span> -->
<!--     <dl> -->
<!--       <dt>RAM</dt> -->
<!--       <dd>{{phone.storage.ram}}</dd> -->
<!--       <dt>Internal Storage</dt> -->
<!--       <dd>{{phone.storage.flash}}</dd> -->
<!--     </dl> -->
<!--   </li> -->
<!--   <li> -->
<!--     <span>Connectivity</span> -->
<!--     <dl> -->
<!--       <dt>Network Support</dt> -->
<!--       <dd>{{phone.connectivity.cell}}</dd> -->
<!--       <dt>WiFi</dt> -->
<!--       <dd>{{phone.connectivity.wifi}}</dd> -->
<!--       <dt>Bluetooth</dt> -->
<!--       <dd>{{phone.connectivity.bluetooth}}</dd> -->
<!--       <dt>Infrared</dt> -->
<!--       <dd>{{phone.connectivity.infrared}}</dd> -->
<!--       <dt>GPS</dt> -->
<!--       <dd>{{phone.connectivity.gps}}</dd> -->
<!--     </dl> -->
<!--   </li> -->
<!--   <li> -->
<!--     <span>Android</span> -->
<!--     <dl> -->
<!--       <dt>OS Version</dt> -->
<!--       <dd>{{phone.android.os}}</dd> -->
<!--       <dt>UI</dt> -->
<!--       <dd>{{phone.android.ui}}</dd> -->
<!--     </dl> -->
<!--   </li> -->
</ul>
