<div class="container-fluid">
  <div class="row">
    <div class="col-md-10" ng-controller="ChildListCtrl">
      <!--Body content-->
      <ul class="child">
 			<li ng-repeat="child in children" >
				<a href=index.html#/childdetail/{{child.childId}}><img ng-src="{{child.image}}" class="thumb"></a><br>
				<a href=index.html#/childdetail/{{child.childId}}>ChildID : {{child.childId | number}}</a><br>
				Child Name : {{child.first}}
			</li>
      </ul>
    </div>
  </div>
</div>
